@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #020202;
}

/* Special button */
.special-btn {
  background-image: linear-gradient(
    135deg,
    #7c3aed,
    #fbbf24 33%,
    #56acff 67%,
    #00d372
  );
  border-radius: 100em;
  max-width: 100%;
  display: inline-block;
  padding: 0.2vw;
}

/* The fadeout effect of the section number */
.bottom-fade {
  background-image: linear-gradient(
    0deg,
    #00000000 20%,
    rgba(255, 255, 255) 100%
  );
}

.line {
  height: 1px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.line svg {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -50px;
}

.line svg path {
  stroke-width: 1px;
  stroke: white;
  fill: none;
}

.box {
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  top: -20px;
  z-index: 1;
}
