@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body {
  background: #020202;
}

/* Special button */
.special-btn{
  background-image: linear-gradient(
    135deg,
    #7c3aed,
    #fbbf24 33%,
    #56acff 67%,
    #00d372
  );
  border-radius: 100em;
  max-width: 100%;
  display: inline-block;
  padding: 0.2vw;
}

/* The fadeout effect of the section number */
.bottom-fade{
  background-image: linear-gradient(
    0deg,
    #00000000 20%,
    rgba(255,255,255) 100%
  );
}

.line {
  height: 1px;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.line svg {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -50px;
}

.line svg path {
  stroke-width: 1px;
  stroke: white;
  fill: none;
}

.box {
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  top: -20px;
  z-index: 1;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: whitesmoke;
}

.swiper-pagination {
  background-color: rgba(0,0,0,0.3) !important;
  border-radius: 50px !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  backdrop-filter: blur(4px) !important;
  padding: 0 3px !important;
  height: 20px !important;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background: whitesmoke !important;
}

/* Remove white background on autofill inputs and text areas */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}